body,ul,h1,h2,h3,h4,h5,h6,form,input,p{
	margin: 0;
	padding: 0;
	font-weight: normal;
}
body{
	/* 页面最大宽度 */
	max-width: 640px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
	/* 总体背景色 */
	background-color: #0f2d75;
	margin: 0 auto;
	font-size: 14px;
	/* 底部留空 */
	padding-bottom: 80px;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
	   -moz-tap-highlight-color: rgba(0,0,0,0);  
			tap-highlight-color: rgba(0,0,0,0);  
	-webkit-focus-ring-color: rgba(0,0,0,0);  
	   -moz-focus-ring-color: rgba(0,0,0,0); 
	    		focus-ring-color: rgba(0,0,0,0);   
}
*{
	-webkit-tap-highlight-color: transparent;
}

li{
	list-style: none;
}
img{
	vertical-align: middle;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
.clear{
	zoom: 1;
}
.header{
	position: relative;
	width: 100%;
	
}
.header .header-bg{
	width: 100%;
}
.header .header-info-wrap{
	position: absolute;
	bottom: 4px;
	left: 0px;
	width: 100%;
}
.header .header-info-wrap img{
	float: left;
	width: 84px;
	height: 84px;
	margin-left: 10px;
}
.header .header-info-wrap .header-info{
	float: left;
	color: #fff;
	padding-top: 10px;
	padding-left: 16px;
}
.header .header-info-wrap .header-info h1{
	font-size: 18px;
	line-height: 28px;
}
.header .header-info-wrap .header-info p{
	font-size: 14px;
	line-height: 26px;
	color: #fff;
}

.header .header-info-wrap .header-info p span{
	color: #ffc949;
}


.game-info,.fuli,.video-wrap,.img-wrap,.dev-wrap{
	position: relative;
	/* 文本区域背景色 */
	margin: 0px 10px;
	/* 文本区域字体色 */
	color: #fff;
	margin-top: 12px;
}
.game-info>h3,.fuli>h3{
width: 60%; height: 40px; background:url(../img/titleBg.png) no-repeat center center ; background-size: 100%auto; margin: 0 auto; position: relative;}
i{display:block; font-style:normal; text-align: center;}
.video-wrap>h4,.img-wrap>h4,.dev-wrap>h4{width: 100%; height: 44px; background:url(../img/titBg.png) no-repeat center center ; background-size: 100% 100%; margin: 0 auto;}
.game-info>h3 img{margin: 0 auto; width: 60%; display: block;}
.fuli>h3 img{margin: 0 auto; width: 82%; display: block;}
h4 img{margin: 0 auto; width: 50%; display: block; padding-top: 6px;}
.new img{ width: 40%;}
.game-info{
	margin-top: 0px;
}
.game-info h4{
	line-height: 24px;
}
.game-info .bg{width: 100%; background: url(../img/gameBg.png) no-repeat center top; background-size: 100% 100%; margin-top: -22px; padding: 30px 0;}
.fuli .bg{width: 100%; background: url(../img/gameBg.png) no-repeat center top; background-size: 100% 100%; margin-top: -22px;}
.fuli .bg .one{padding-top: 30px;}
.game-info p{
	/*height: 48px;*/
	line-height: 24px;
	padding: 0 20px;
	text-indent: 24px;
}
.fuli{
	padding-bottom: 12px;
}
.fuli .text{padding:15px 0 20px 0;}
.fuli p{
	line-height: 24px;
	padding:0 20px;
}
.fuli p em{width:10px; height: 10px; margin: 7px 7px 0 0; background:#fff; border-radius: 50%; display: block; float: left;}
.fuli .fuli-img{
	width: 85%;
	margin: 0 auto;
}
.fuli .fuli-img li{
	float: left;
	width: 24%;
	margin-left: 1%;
}
.fuli .fuli-img li:first-child{
	margin-left: 0px;
}
.fuli .fuli-img li img{
	width: 100%;
}
.fuli .fuli-img li span{
	display: block;
	line-height: 16px;
	text-align: center;
	margin-top: 5px;
	font-size: 12px;
}
.video-info,.img-info{
	padding: 0px 12px;
	margin-top: 12px;
	display: -webkit-box;
}
.video-wrap,.img-wrap{
	-webkit-box-flex: 1;
	margin: 0px;
	padding-bottom: 8px;
}
.video-wrap{
	/*margin-right:8px;*/
	
}
.video-wrap .video{
	position: relative;
	display: block;
	color: #f1e1ce;
	padding: 28px 15px 28px;
	background: url(../img/videoBg.png) no-repeat center top;
	background-size: 100% 100%;
}
.video-wrap .video img{
	width: 100%;
}
.video-wrap .video .play-icon{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 24px;
	margin-top: -22px;
	margin-left: -20px;
	background-color: rgba(0,0,0,0.5);
	border: 1px solid #f1e1ce;
}
.video-wrap .video .play-icon span{
	display: block;
	width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 14px solid #f1e1ce;
    border-bottom: 7px solid transparent;
    margin-top: 5px;
    margin-left: 13px;
}
.video-wrap .video p{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.img-wrap{
	/*margin-left: 8px;*/
}
.img-container{
    width:100%;
    overflow:auto;
}
/*.img-content{
    width:164vw;
}*/
.img-content img{
    width:36vw;
}
.img-wrap .img{
	position: relative;
	display: block;
	color: #f1e1ce;
	padding: 14px 18px 20px;
	background:url(../img/bannerBg.png) no-repeat center top; background-size: 100% 100%;
}
/*.img-wrap .img img{
	width: 100%;
}*/
.img-wrap .img p{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.dev-wrap{
	
}
.dev-wrap .dev-list{
	padding: 10px 0;
	background: url(../img/videoBg.png) no-repeat center top;
	background-size: 100% 100%;
}
.dev-wrap .dev-list li{
	display: -webkit-box;
	padding: 15px 0px;
	margin:0 15px;
	border-bottom: 1px solid #bab7af;
}
.dev-wrap .dev-list li:first-child{
	border-top: 0;	
}	
.dev-wrap .dev-list li:last-child{border-bottom: none;}
.dev-wrap .dev-list li img{
	height: 70px;
}
.dev-wrap .dev-list li .dev-info{
	-webkit-box-flex: 1;
	padding-left: 12px;
	padding-top: 5px;
}
.dev-wrap .dev-list li .dev-info a{
	display: block;
	line-height: 20px;
    color: #5e5c5c;
}	
.dev-wrap .dev-list li .dev-info p{
	line-height: 24px;
}
.dev-wrap .dev-list li .dev-info p:nth-of-type(1){
	margin-top: 8px;
}
.dev-wrap .dev-list li .dev-info p:nth-last-of-type(1){
	color: #5e5c5c;
}	
.dev-wrap .dev-list li .dev-info p span{
	color: #00c3ff;
}

.swiper{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.swiper-container{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 80vw;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background-color: #fff;
	background-color: transparent;
}
.swiper-container .swiper-slide{
	box-sizing: border-box;
	width: 100%!important;
	padding: 0px 2%;
	background-color: transparent;
}
.swiper-container img{
	width: 100%;
}	
.swiper-pagination-bullet{
	background-color: #fff;
}
.swiper-pagination-bullet-active{
	
}























































